<div id="WelcomePage">
  <section id="intro-section" class="p-40 home-intro-section text-center">
    <div class="container mx-auto">
      <h1 class="home-intro-title">Avenger</h1>
      <h3 class="text-3xl font-bold mb-5">Community-Based Recruiting</h3>
      <p class="home-intro-text">"We can prove it"</p>
      <img class="mx-auto" [src]="'assets/img/modern/logo-original-200.png'" alt="Avenger Logo">
    </div>
  </section>

  <!-- <section id="portfolio-section" class="portfolio home-section py-40 px-4">
    <div class="container mx-auto">
      <div class="section-header">
        <h2 class="text-4xl mb-10 text-center">Apps</h2>
      </div>
  
      <div class="">
        
      </div>
    </div>
  </section> -->
</div>