<div #rootComponentElm>

  <div *ngIf="!!comment.deleted_at" class="p-3 border border-gray-300">
    <p>
      <span>
        This comment has been deleted.
      </span>
    </p>
    
  </div>

  <div *ngIf="!comment.deleted_at">
    <!-- if is normal comment -->
    <div class="flex flex-row gap-3">
      <div class="w-16">
        <img class="rounded-xl w-full" [src]="comment.owner?.icon_link || './assets/img/anon.png'" alt="">
      </div>

      <div class="grow">
        <p class="mb-3">
          <span><a class="link-text" [routerLink]="['/', 'users', comment.owner?.id, 'home']">{{ comment.owner?.displayname }}</a></span>
          <span class="mx-2 inline-block">&middot;</span> 
          <span class="text-sm text-gray-500">{{ comment.created_at | date : 'MMM d, y - h:mm a' }} ({{ comment.created_at | timeAgo }})</span>
        </p>
        <p class="mb-3 text-lg">{{ comment.body }}</p>
      </div>
    </div>

    <div class="flex flex-row gap-3">
      <div class="w-16"></div>

      <div class="grow">
        <!-- controls -->
        <ng-container *ngIf="stats">
          <div class="flex flex-row justify-between mt-7">
            <div class="flex flex-row gap-9">
              <span class="cursor-pointer" [ngClass]="{ 'text-blue-300': !!activity && !!activity.commented }" (click)="set_action_context(ActionContext.REPLY)">
                <i class="fa-solid fa-comments"></i> {{ stats.comments_count | number }}
              </span>
    
              <span class="cursor-pointer" [ngClass]="{ 'text-red-500': !!activity && !!activity.reacted }" (click)="toggle_like()">
                <i class="fa-solid fa-heart"></i> {{ stats.reactions_count | number }}
              </span>
            </div>
      
            <div class="relative">
              <span title="Menu"><i class="fa-solid fa-ellipsis cursor-pointer" (click)="isMenuShown = !isMenuShown"></i></span>
              <ul [ngClass]="{
                'ghost': !isMenuShown,
                'absolute border border-gray-300 z-10 bg-white w-36': isMenuShown
              }">
                <li *ngIf="isOwner" (click)="delete_comment()" class="p-1 flex items-center cursor-pointer hover:bg-gray-200">Delete</li>
              </ul>
            </div>
          </div>
          
          <ng-container [ngSwitch]="current_action_context">
            <div class="p-3" *ngSwitchCase="ActionContext.REPLY">
              <p>Reply</p>
            </div>
          </ng-container>
        </ng-container>
      </div>
    </div>
  </div>

</div>